# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Packaging
build/
dist/
build-*/
dist-*/
*.egg-info/
*.spec

# Local/editor files
.idea/
.vscode/
*.log
*.tmp
Thumbs.db
.DS_Store

# Project exports
*.zip
SpriteMakerPySide-*-win64/
